[submodule "strivers"]
	path = strivers
	url = https://www.jiversivers@github.com/jiversivers/strivers.git
[submodule "resume"]
	path = resume
	url = https://www.jiversivers@github.com/jiversivers/resume.git
