body {
    background-color: #1e1e1e;
    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    text-align: center;
    color: #ff7f00;
}

.bg-body-tertiary {
    background-color: #ff7f00 !important;
}

.nav-link {
    color: #3c3c3c;
}

.nav-link:active {
    color: #000000;
}

.btn-primary {
    background-color: #ff7f00;
    border-color: #ff7f00;
}

.btn-primary:hover {
    background-color: #e66a00;
    border-color: #e66a00;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #ff7f00;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    color: #ff7f00;
}