[Unit]
Description=gunicorn daemon for {{PROJECT_NAME}}
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{PROJECT_DIR}}
ExecStart={{GUNICORN_LOCATION}} --workers {{WORKERS}} --access-logfile - --bind unix:/run/gunicorn.sock {{PROJECT_NAME}}.wsgi:application

[Install]
WantedBy=multi-user.target