<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JiversIvers</title>
</head>
<header>
    <h1>JiversIvers</h1>
    <h2>
        <a href=="{% url 'home' %}">Home</a>
        <a href="mailto:iversjesse@gmail.com">Contact Me</a>
    </h2>
</header>
<body>
<a href="{% url 'resume:home' %}">Interactive Resume</a>
<a href="{% url 'strivers:index' %}">Strivers</a>
</body>

<footer>
    <a href="mailto:iversjesse@gmail.com">Contact Me</a>
</footer>
</html>