/* General section styling */
section {
    padding: 60px 20px; /* Adjusts the space inside each section */
    margin-bottom: 40px; /* Adds space between sections */
}

#about {
    text-align: center;
    background-color: #4b4b4b;
    color: #c8c8c8;
}

ul {
    list-style-type: none;
}

#projects {
    background-color: #4b4b4b; /* Slightly darker gray */
    color: #c8c8c8;
}

/* General section styling */
section {
    padding: 60px 20px; /* Adjusts the space inside each section */
    margin-bottom: 40px; /* Adds space between sections */
}

/* Specific styling for the header section */
header {
    padding: 80px 20px; /* More padding for the header to make it stand out */
    margin-bottom: 50px; /* Space below the header */
    text-align: center; /* Center-align text in the header */
}

#jama {
    color: #ff7f00;
}